.btn-danger5{
    border-radius: 50px;
    background-color: #dc3545;
    color: white;
}

.btn-warning5{
    border-radius: 50px;
    background-color: #ffc107;
}

.btn-info5{
    border-radius: 50px;
    background-color: #17a2b8;
    color: white;
}

.btn-success5{
    border-radius: 50px;
    background-color: #28a745;
    color: white;
}

.btn-primary5{
    border-radius: 50px;
    background-color: #007bff;
    color: white;
}